<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input  size="20" ng-keydown="$event.which === 13 && ctrl.click(ctrl.contentService.search)"type="text"  class="form-control" ng-model="ctrl.contentService.search">
        </div>
        <button class="btn btn-primary"ng-click="ctrl.click(ctrl.contentService.search)">Get SubReddit</button>
      </form>
    </div>
    <div class="navbar-form">
        <button class="btn btn-warning"ng-click="ctrl.clearStorage()">Clear Saves</button>
        <button class="btn btn-info"ng-click="ctrl.updateReddits(0)">Refresh All</button>
      <div class="nav navbar-nav navbar-right">
        <label for="">Num of Results</label> 
        <input  maxlength="2" size="2" ng-model="ctrl.numResults" placeholder="Number of Results">
      </div>
    </div>
  </div>
</nav>-->


