
<nav class="navbar navbar-default navbar-fixed-top" scroll  id="page" ng-class="{min:boolChangeClass, min2:boolChangeClass&&!isCollapsed}">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
       </div>
        <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
            <form ng-submit="ctrl.getReddit(ctrl.search)"class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input  size="20" type="text"  placeholder="Enter Subreddit Name"class="form-control" ng-model="ctrl.search" required>
                </div>
                <button class="btn btn-primary" >Get SubReddit</button>
            </form>
        
            <div class="navbar-form">
                <button class="btn btn-danger"ng-click="ctrl.clearStorage()">Clear Saves</button>
                <button class="btn btn-info"ng-click="ctrl.updateReddits(0)">Refresh All</button>
                <form class="navbar-form navbar-nav navbar-right">
                    <label for="">Num of Results</label> 
                    <input class="form-control" maxlength="2" size="2" ng-model="ctrl.numResults">
                </form>
            </div>
        </div>
    </div>
</nav>

