h1 {
	color:red;
}
.title{
	font-weight: bold;
}
.title:hover{
	cursor: pointer;
	text-decoration: underline;
}
.thumb{
	display: block;

}

.reddits{
    height:500px;
	overflow: scroll;
    text-align: left;
}
.header{
    position: relative;
    scroll-snap-coordinate: 0%;
    width:100%;
    background-color: inherit;
    margin:0;
    padding:15px;
   
}

i.fa-times-circle:hover{
	cursor: pointer;
}
i{
	padding-left: 5px;
}
.popImg{
	width: 100%;
	height: 100%;
}
.container-fluid{
    padding-top:5px;
}
.container{
    position: relative;
    top:50px;
    margin-top:10px;
    text-align:center;
}
.inline{
    padding-top: 5px;
    display: inline-block;
}
.text-center{
    text-align: center;
}

.navbar-fixed-top{
    position: fixed;
    top: 0;
    transition: top 0.5s ease-in-out;

}
.min{
   top:-100px;
   
}

.min2{
   top:-500px;
   transition: top 1s ease-in-out;
   
}

.navbar-default{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaf4b+0,ff920a+100;Orange+3D+%231 */
background: #ffaf4b; /* Old browsers */
background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */

}

.panel-body {
    padding-top:0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none;
}
.navbar-form {
    margin-top:0;
    margin-bottom:0;
}